body {
    background-color: lightblue;
}

.nav-item:hover {
    border-radius: 10px;
    background-color: lightgrey;
    
}
.nav-link:hover
{
    text-shadow: 2px 2px 5px #000000;
    color: lightblue; /* we can change the colors to what whatever we want these colors are just for testing*/
}


.nav-item:active {
    background-color: grey;
    
}

.nutritionButton
{
    float: right;
    background-color: green;
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}